# <center> Python for Data Engineering in One Day </center>

## Python Introduction
### Python is Programming
### Python is a Scripting Oriented
### Python is a Procedure Oriented
### Python is a Object Oriented Programming
### Python is a Modular Oriented Programming Language
### Python was developed by Guido Van Rossum in 1991
### Guid taken best feature from different languages like Scripting Oriented feature from Shell Scripting & Perl Scriting
### Procedure Oriented features from C Language and Object Oriented Features from C++ and Modular Oriented features from Modula Language

### Intially people used Python for Server Side Scripting
### Later when Data Engineering or Bigdata become popular people started looking best programming language which contains 
### Scripting + Procedure Oriented + Object Oriented Programming
### Industry found advantages of Python

### First Python Programming

In [1]:
print("Welcome to CFAMILY IT")

Welcome to CFAMILY IT

## Python Programs we can write in two ways. They are:
### 1. Interactive Mode -- step by step development, We use Python Shell & Jupyter Notebook
### 2. Script Mode -- we are write all statements in one file called .py and then later we will run, Here we use Notepad, PyCHarm IDE, SPider IDE, VSCode etc..

## Python softwares & Python development tools for Python Programming

### Python Softwares
<br>

### python.org maintans python
### https://www.python.org/downloads/
### Python is free & opensource
### Based Python Opensource many vendors implemented Python & giving free & enterprise version
### E.g:- anaconda python
### https://www.anaconda.com/products/distribution

## Python Development Tools

### Jupyter Notebook -- It comes by default with anconda python, if you install python from python.org then we have to use below command to download install jupyter notebook
### pip install jupyter notebook

### We use PyCharm IDE -- It is also mostly used ID
### We use below link to download pycharm ide
### https://www.jetbrains.com/pycharm/download/#section=windows

### Next mostly used IDE is Spider IDE
### Spider by defaault comes with Anaconda Python, if you want, you can install

### VSCode -- Visual Studio Code from Microsoft
### Now days people are using VSCode for Python Application

## List of Python Softwares installation & first python program

### Python Installation
### First Python Program using Python Shell or Python Prompt
## https://www.youtube.com/watch?v=uz2dgzqr8-4

### Anaconda Python Installation & First Python Programming using Jupyter Notebook
### https://www.youtube.com/watch?v=bk2_svzv-88

### First Python Program using Spider IDE
### https://www.youtube.com/watch?v=TbqfzmI1Pjw

### First Python Program using VSCode
### https://www.youtube.com/watch?v=TbqfzmI1Pjw

## <center> Scripting Oriented Programming </center>

### Scripting Oriented Programming means writing sequence of statement using predefined functionalities given by python

## Examples on Scripting Oriented Programming

In [6]:
print("Welcome to CFAMILY IT")
print("Welcome to Python WOrld..!")
print("This is Sreenivasulu Akkem")
print("I am the Founder of CFAMILY IT Solutions")

Welcome to CFAMILY IT
Welcome to Python WOrld..!
This is Sreenivasulu Akkem
I am the Founder of CFAMILY IT Solutions

### To execute statements in jupyter note shell ==> shift + enter or ctrl + enter

In [8]:
a = input("Enter a First Number:")
b = input("Enter a Seond Number:")
res = a+b
print("A is:",a)
print("B is:",b)
print("Sum of A,B is:",res)

Enter a First Number:10
Enter a Seond Number:5
A is: 10
B is: 5
Sum of A,B is: 105

### print() is a predefined function to print output on console
### input() is a predefined function to read data from keyboard, it reads data in the form of string

### In Above program it performed string concatination. So we have to perform typecasting
### we have different function like int(),flaot(),bool(), str(), list(), set(), etc..

In [9]:
a = int(input("Enter a First Number:"))
b = int(input("Enter a Seond Number:"))
res = a+b
print("A is:",a)
print("B is:",b)
print("Sum of A,B is:",res)

Enter a First Number:10
Enter a Seond Number:5
A is: 10
B is: 5
Sum of A,B is: 15

## Python Programming Rules

### Rule1 : Every statement should start at cloumn position 0

In [14]:
print("Welcome to CFAMILY IT")

Welcome to CFAMILY IT

In [21]:
 print("Welcome to CFAMILY IT2")

Welcome to CFAMILY IT2

In [23]:
print("Welcome to CFAMILY IT")
    print("Welcome to CFAMILY IT2")
        print("Welcome to CFAMILY IT3")
            print("Welcome to CFAMILY IT4")

IndentationError: unexpected indent (1192123857.py, line 2)

### Rule2 -- Starting of a Block

In [15]:
if 10>5:
    pass

### Rule3 -- Inside Block All Statements should follow same indentation

In [16]:
## Valid 
if 10>5:
    print("Welcome1")
    print("Welcome2")
    print("Welcome3")

Welcome1
Welcome2
Welcome3

In [17]:
## InValid 
if 10>5:
    print("Welcome1")
      print("Welcome2")
         print("Welcome3")

IndentationError: unexpected indent (3990201.py, line 4)

### Rule4 : End of Block -- There is no separate statement for end of block

In [18]:
### Case1
if 10>5:
    print("Welcome1")
    print("Welcome2")
    print("Welcome3")

Welcome1
Welcome2
Welcome3

In [19]:
###Case2
if 10>5:
    print("Welcome1")
    print("Welcome2")
    print("Welcome3")
print("Out of Block")

Welcome1
Welcome2
Welcome3
Out of Block

In [20]:
if 10<5:
    print("Welcome1")
    print("Welcome2")
    print("Welcome3")
print("Out of Block")

Out of Block

## Identifier

### Name in a Python Program called identifier, it may be variable name, function and class name

In [10]:
### Valid Identifiers
firstName = "Akkem"
lastName = "Sreenivasulu"
a10 = 200
_a = 20
print(firstName)
print(lastName)
print(a10)
print(_a)

Akkem
Sreenivasulu
200
20

### invalid identifers

In [11]:
10a = 100
print(10a)

SyntaxError: invalid syntax (3418451324.py, line 1)

In [12]:
$a = 20
print($a)

SyntaxError: invalid syntax (346406162.py, line 1)

## Keywords

### In Python some words reserved for special purpose & special meaning

In [13]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Datatypes

### Python is a Dynamically Typed Language, based on the right side value datatype assigned to variable

In [24]:
a = 10
b = 10.5
c = "akkem"
d = 'sreenivasulu'
e = True
print(a)
print(type(a))

print(b)
print(type(b))

print(c)
print(type(c))

print(d)
print(type(d))

print(e)
print(type(e))

10
<class 'int'>
10.5
<class 'float'>
akkem
<class 'str'>
sreenivasulu
<class 'str'>
True
<class 'bool'>

### type() is predefined it returns type of variable.

### There are two types of datatypes they are:
### 1. Simple Datatypes -- allows only one value
### 2. Collection Datatypes -- allows multiple values

## Simple Datatypes -- allows only one value
### We have different Simple Datatypes like
### int
### float
### string -- str
### bool -- boolean
### complex -- used only in scintific allication

In [26]:
empNo = 101
eName = "Sreenivasulu Akkem"
sal = 20000.50
gender = 'm'
isManager = False

print(empNo)
print(type(empNo))
print(eName)
print(type(eName))
print(sal)
print(type(sal))
print(gender)
print(type(gender))
print(isManager)
print(type(isManager))

101
<class 'int'>
Sreenivasulu Akkem
<class 'str'>
20000.5
<class 'float'>
m
<class 'str'>
False
<class 'bool'>

### All numeric or decimal values without fractional part is called int type
### All numeric or decimal values with fractional part is called float type
### String values we can represent in ' ' or " "
### There are two boolean values True & False

## Collection Types -- Allows Multiple Values
### We have different Collection Types. They are:
### 1. tuple
### 2. list
### 3. set
### 4. frozenset
### 5. dict -- dictionary

## Tuple Collection

In [28]:
### tuple we can represent using ()
### tuple allows same type of data & different kind of data
t1 = (10,20,30,40,50)
t2 = ('101',"Sreenivasulu Akkem",20000.50,'m',11)
print(t1)
print(type(t1))
print(t2)
print(type(t2))
### Recommended is different kind of data.

(10, 20, 30, 40, 50)
<class 'tuple'>
('101', 'Sreenivasulu Akkem', 20000.5, 'm', 11)
<class 'tuple'>

## list collection

In [29]:
### list we can represent using []
### list allows same type of data & different kind of data
l1 = [10,20,30,40,50]
l2 = ['101',"Sreenivasulu Akkem",20000.50,'m',11]
print(l1)
print(type(l1))
print(l2)
print(type(l2))
### Recommended is same kind of data.

[10, 20, 30, 40, 50]
<class 'list'>
['101', 'Sreenivasulu Akkem', 20000.5, 'm', 11]
<class 'list'>

### Difference between tuple and list

### Tuple is immutable means we can not change
### List is mutable means changable

In [31]:
t1 = (10,20,30,40,50)
print(t1)
print(type(t1))
t1.append(30)

(10, 20, 30, 40, 50)
<class 'tuple'>

AttributeError: 'tuple' object has no attribute 'append'

In [32]:
t1.remove(40)

AttributeError: 'tuple' object has no attribute 'remove'

In [33]:
l1 = [10,20,30,40,50]
print(l1)
print(type(l1))

[10, 20, 30, 40, 50]
<class 'list'>

In [34]:
l1.append(60)
print(l1)
print(type(l1))

[10, 20, 30, 40, 50, 60]
<class 'list'>

In [35]:
l1.remove(30)
print(l1)
print(type(l1))

[10, 20, 40, 50, 60]
<class 'list'>

## Set Collection

In [36]:
### Set is similar to list -- list allows duplicate but set does not allow duplicates
### Set we can represent using {}
s1 = {10,20,30,40,50}
print(s1)
print(type(s1))

{50, 20, 40, 10, 30}
<class 'set'>

In [37]:
l1 = [10,20,30,40,50,20,30,40]
print(l1)
print(type(l1))
s1 = {10,20,30,40,50,20,30,40}
print(s1)
print(type(s1))

[10, 20, 30, 40, 50, 20, 30, 40]
<class 'list'>
{50, 20, 40, 10, 30}
<class 'set'>

## frozenset collection

In [42]:
### is Similar to set
s1 = {10,20,30,40,50}
print(s1)
print(type(s1))
fs = frozenset(s1)
print(fs)
print(type(fs))

{50, 20, 40, 10, 30}
<class 'set'>
frozenset({50, 20, 40, 10, 30})
<class 'frozenset'>

In [46]:
### difference between set & frozenset == set is mutable but frozenset is immuable
s1.remove(30)
print(s1)
print(type(s1))

{50, 20, 40, 10}
<class 'set'>

In [45]:
fs.remove(30)
print(fs)
print(type(fs))

AttributeError: 'frozenset' object has no attribute 'remove'

### Dictionary Collection -- Allows key,value pairs

### We can represent dictionary using {}

In [39]:
emp = {
    "empno":101,
    "ename": "Sreenivasulu Akkem",
    "sal":20000.50,
    "gender":'m',
    "dno":10
}
print(emp)
print(type(emp))

{'empno': 101, 'ename': 'Sreenivasulu Akkem', 'sal': 20000.5, 'gender': 'm', 'dno': 10}
<class 'dict'>

## Control Statements in Python

### To control the flow of a program
### We have differen types of Control statement. They are:
### 1. Iterative control statements like if, if-else,if-elif-else lader
### 2. looping control statement like while, for
### 3. Transfer Control statements like break, continue and pass

## Iterative control statements like if, if-else,if-elif-else lader

In [47]:
a = int(input("Enter a First Number:"))
b = int(input("Enter a Seond Number:"))
if a>b:
    print("A is Big")
    
if b>a:
    print("B is Big")

Enter a First Number:10
Enter a Seond Number:5
A is Big

In [48]:
a = int(input("Enter a First Number:"))
b = int(input("Enter a Seond Number:"))
if a>b:
    print("A is Big")
else:
    print("B is Big")

Enter a First Number:10
Enter a Seond Number:20
B is Big

In [49]:
a = int(input("Enter a First Number:"))
b = int(input("Enter a Seond Number:"))
c = int(input("Enter a Third Number:"))
if a>b and a>c:
    print("A is Big")
elif b>c:
    print("B is Big")
else:
    print("C is Big")

Enter a First Number:10
Enter a Seond Number:20
Enter a Third Number:30
C is Big

## looping control statement like while, for

### while -- Print values from 1 to 10

In [50]:
i = 1
while i<=10:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

### for -- Print values from 1 to 10

In [51]:
for v in range(1,11):
    print(v)

1
2
3
4
5
6
7
8
9
10

### For is recommended to iterate collection of values.

In [52]:
t1 = (10,20,30,40,50)
for v in t1:
    print(v)

10
20
30
40
50

In [54]:
l1 = [10,20,30,40,50]
for v in l1:
    print(v)

10
20
30
40
50

In [55]:
s1 = {10,20,30,40,50}
for v in s1:
    print(v)

50
20
40
10
30

In [56]:
emp = {
    "empno":101,
    "ename": "Sreenivasulu Akkem",
    "sal":20000.50,
    "gender":'m',
    "dno":10
}
for key,value in emp.items():
    print(key,'...',value)

empno ... 101
ename ... Sreenivasulu Akkem
sal ... 20000.5
gender ... m
dno ... 10

### Transfer Control statements like break, continue and pass

In [58]:
### break
for v in range(1,11):
    if v==5:
        break
    print(v)

1
2
3
4

In [59]:
### continue
for v in range(1,11):
    if v==5:
        continue
    print(v)

1
2
3
4
6
7
8
9
10

In [60]:
### pass
if 10>5:
    pass

In [61]:
def f1():
    pass

In [62]:
class Test:
    pass

## <center> Procedure Oriented Programming </center>

### procedure means function or method
### functions means collection of related statements to perform a particular task

In [64]:
### function without paramters
### 1. Function Definition
def greeting():
    print("Welcome to CFAMILY IT")
    print("Welcome to Python WOrld")
    print("This is Sreenivasulu Akkkem")
    
### 2. FUnction call
greeting()

Welcome to CFAMILY IT
Welcome to Python WOrld
This is Sreenivasulu Akkkem

In [65]:
### function with paramters
### 1. Function Definition
def sum(a,b):
    print("A is:",a)
    print("B is:",b)
    print("Sum of A,B is:",(a+b))
    
### 2. FUnction call
a = int(input("Enter a First Number:"))
b = int(input("Enter a Seond Number:"))
sum(a,b)

Enter a First Number:10
Enter a Seond Number:20
A is: 10
B is: 20
Sum of A,B is: 30

In [66]:
### function with paramters and return type
### 1. Function Definition
def sum(a,b):
    res = a+b
    return res
    
### 2. FUnction call
a = int(input("Enter a First Number:"))
b = int(input("Enter a Seond Number:"))
print("A is:",a)
print("B is:",b)
result = sum(a,b)
print("Sum of A,B is:",result)

Enter a First Number:10
Enter a Seond Number:5
A is: 10
B is: 5
Sum of A,B is: 15

## Lambda Functions
### A Function without Name is called Lambda Functions
### Lambda Functions implementation in only one line

In [68]:
### lambda function with one argument
### lambda function definition
squre = lambda x: x*x
    
### lambda function call
n = int(input("Enter a First Number:"))
print("Accepted Number is:",n)
print("Squre of Accepted Number is:",squre(n))

Enter a First Number:10
Accepted Number is: 10
Squre of Accepted Number is: 100

In [69]:
### lambda function with multiple arguments
### lambda function definition
big = lambda x,y:x if x>y else y
    
### lambda function call
a = int(input("Enter a First Number:"))
b = int(input("Enter a Seond Number:"))
print("A is:",a)
print("B is:",b)
print("Big Value is:",big(a,b))

Enter a First Number:10
Enter a Seond Number:5
A is: 10
B is: 5
Big Value is: 10

## <center> Python Object Oriented Programming - Class and Object <center>

### Object Oriented Programming means writing everything inside a class and creating objects
### class means user defined datatypes or class is a logical name or class is a blue print for creation of object or class is a collection of objects.
### object means instance of a class. instance means memory allocated in ram.

In [72]:
### Class definition
class Employee:
    def __init__(self):
        print("Inside a Constructor")
    
    def display(self):
        print("Inside a Function")

### Constructor executes automatically when we create an object

In [71]:
### Object creation
e1 = Employee()

Inside a Constructor

### Functions of a class, we have to call explictly using reference variable of an object

In [74]:
e1.display()

Inside a FUnction

### Why Constructors and Why Functions

### Inside Constructor it is recommended to write intialization of object logic
### Inside function it is re ommended to write business logic

In [76]:
### Class definition
class Employee:
    def __init__(self,empno,ename,sal):
        print("Inside a Constructor")
        self.empno=empno
        self.ename=ename
        self.sal=sal
    
    def display(self):
        print("Inside a Function")
        print("Empno is:",self.empno)
        print("EName is:",self.ename)
        print("Salry is:",self.sal)
        
### Object creation
empno = int(input("Enter a empno:"))
ename = input("Enter a ename:")
sal = float(input("Enter a salary:"))
e1 = Employee(empno,ename,sal)
e1.display()

Enter a empno:101
Enter a ename:sreenivas
Enter a salary:20000.50
Inside a Constructor
Inside a FUnction
Empno is: 101
EName is: sreenivas
Salry is: 20000.5

### self keyword can used to connect current object and can create variables inside a object

## <center> Modular Oriented Programming -- Module, Packages and Libraries </center>

### What is Module

### It is a .py file, it may contains variables, functions & classes
### The main advantage of module is re-usability

In [78]:
### arithmetic.py
a = 10
b = 10

def sum():
	print("A is:",a)
	print("B is:",b)
	print("Sum of A,B is:",(a+b))
	
def sub():
	print("A is:",a)
	print("B is:",b)
	print("Sub of A,B is:",(a-b))
	
def mul():
	print("A is:",a)
	print("B is:",b)
	print("Multiplication of A,B is:",(a*b))
	
def div():
	print("A is:",a)
	print("B is:",b)
	print("Division of A,B is:",(a//b))

In [79]:
## test.py
import arithmetic
print("A is:",a)
print("B is:",b)
print("*"*30)
sum()
print("*"*30)
sub()
print("*"*30)
mul()
print("*"*30)
div()

A is: 10
B is: 10
******************************
A is: 10
B is: 10
Sum of A,B is: 20
******************************
A is: 10
B is: 10
Sub of A,B is: 0
******************************
A is: 10
B is: 10
Multiplication of A,B is: 100
******************************
A is: 10
B is: 10
Division of A,B is: 1

In [80]:
import arithmetic
print("A is:",arithmetic.a)
print("B is:",arithmetic.b)
print("*"*30)
arithmetic.sum()
print("*"*30)
arithmetic.sub()
print("*"*30)
arithmetic.mul()
print("*"*30)
arithmetic.div()

A is: 10
B is: 5
******************************
A is: 10
B is: 5
Sum of A,B is: 15
******************************
A is: 10
B is: 5
Sub of A,B is: 5
******************************
A is: 10
B is: 5
Multiplication of A,B is: 50
******************************
A is: 10
B is: 5
Division of A,B is: 2

## What are Packages in Python

### Package is a collection related modules and sub-packages

### c:\
###     |--cfamilyit
###           |-- arithmetic.py
###           |-- xyz.py
###           |-- abc
###                |-- test.py
###                |-- __init__.py
###           |-- __init__.py
### Every package contains __init__.py file but it is optional from python 3.5.x onwards

In [ ]:
### Accssing Package Members
from cfamilyt import arithmetic
print("A is:",arithmetic.a)
print("B is:",arithmetic.b)
print("*"*30)
arithmetic.sum()
print("*"*30)
arithmetic.sub()
print("*"*30)
arithmetic.mul()
print("*"*30)
arithmetic.div()

In [ ]:
from python_examples import *
print("A is:",arithmetic.a)
print("B is:",arithmetic.b)
print("*"*30)
arithmetic.sum()
print("*"*30)
arithmetic.sub()
print("*"*30)
arithmetic.mul()
print("*"*30)
arithmetic.div()

### What are Python Libraries

In [ ]:
### Python Library means it is a collection of related Modules and packages
### In Python Libraries comes in the form of .zip or .egg format